@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Source+Sans+Pro&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: #466368;
    line-height: 1.5;
}

header, nav, main, footer {
    margin: .5rem auto;
    max-width: 1000px;   
}

header, footer {
    background: #466368;
    background: -webkit-linear-gradient(#648880, #293f50);
    background:    -moz-linear-gradient(#648880, #293f50);
    background:         linear-gradient(#648880, #293f50);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

header{
    font-size: 35px;
    padding: .5rem;
}

h1, h2{
    align-content: center;
    font-family: 'Playfair Display', serif;
}

main{
    border-bottom: 1px solid #293f50;
}

a:link{
    color: #293f50;
}

img{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;

}

footer{
    padding: .5rem;
}

p {
    color: fff;
    font-size: 20px;
    line-height: 1;
}




  