body {
    background-color: #f1f1ef;
    background-image: url('/lesson5/images/simplyweatherbkgrnd.png');
    padding: 0;
    margin: 0;
}

header {
    background-image: url('/lesson4/images/simplyweatherbkgrnd.png');
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-family: 'Montserrat', sans-serif;
    color: #34421f;
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.motto {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1pt;
    color: #c19434;
    margin-left: 20px;
    font-size: .8rem;
    text-align: center;
}

nav {
    margin: 0 auto;
    background-color: #879a63;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    color: #f1f1ef;
    font-size: large;
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid #f1f1ef;
}

.navigation a:hover {
    color: #34421f;
    font-weight: 700;
    transition: 0.7s;
    text-decoration: overline;
}

nav ul li .active{
    color: #f1f1ef;
    text-decoration: overline;
}

.responsive li {
    display: block;
}



footer {
    max-width: 800px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: #34421f;
    text-align: center;
}

.contentbox {
    display: block;
    margin: 10px auto;
    border: 2px outset #879a63;
    padding: 15px;
    background-color: #f1f1ef;
    color: #4a4a4a;
    font-family: 'Lora', serif;
    font-weight: 800;
}


footer {
    padding: 10px;
    color: #f1f1ef;
    background-color: #879a63;
    font-family: 'Lora', serif;
    font-size: small;
    text-align: center;
}

/*styles for weather summary and hero image*/

.heroImg {
    margin: 10 px auto; 
    width: 100%;
    height: auto;
    
}

.hero {
    margin: 10 px auto;
    position: relative;
    width: 100%;
    height: auto;
}

.wsummary {
    position: absolute;
    top: 1.5rem;
    left: 20px;
    font-family: 'Lora', serif;
    color: #4a4a4a;
    background-color: #f1f1ef;
    opacity: 0.80;
    border: 5px #4a4a4a;
    padding: .5rem;
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.59);
}

/*styles for banner*/

#saturday {
    background: linear-gradient(to right, #c19434 0%, #c19434 100%);
    color: #f1f1ef;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 5px;
  }
/*5 day forecast*/

.fiveDay{
    display: none;
}

.flex {
    display: none;
}


/*styles for article*/

.article {
    display: block;
   
}

.articleImg {
    align-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: 0 2px 15px gray;}
    

.articleText {
    text-align: center;
    font-family: 'Lora', serif;
    color: #4a4a4a;
    padding: 10px;
    background-color: #f1f1ef;
    border: 2 px #34421f;
}

/*styles for contact information*/


  
  .contact img {
    width: 30px;
    margin-bottom: -3px;
    margin-right: 10px;
    font-family: 'Lora', serif;
    color: #34421f;
  }
  
  #map {
    display: none;
  }
  
  .social img {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .contact  {
    margin-left: 2rem;
    padding: 10px;
  }

  .heroP {
      width: 100%;
      margin-bottom: 50px;
  }
  /*styles for gallery page*/


  .wGallery{
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  
  figure {
    max-width: 100%;
  }
  
  figure img {
    grid-column: 1;
    max-width: 100%;
  }
  
  figcaption {
    font-family: 'Lora', serif;
    text-align: center;
    padding: 3px;
    font-size: 1rem;
    color: #34421f;
  }

  /*----------- Form --------------*/

  main {
    padding: 0 8%;
    min-height: 20rem;
}

h3 {
    text-align: left;
    color: #c19434;
    font-family:'Montserrat', sans-serif; 
    font-weight: 900;
    font-size: x-large;
}

form fieldset {
    background-color: #f1f1ef;
    margin: 2rem 0;
    border: 2px dashed #c19434;
    border-radius: 10px;
    padding: 2rem 2%;
}

form legend {
    font-family:'Montserrat', sans-serif;
    font-size: large; 
    font-weight: bolder;
    color: #c19434;
    margin: 0 1rem;
    padding: 0 .5rem;
}


form label.top, form div {
    display: block;
    padding-top: 1rem;
    font-family: 'Lora', serif;
    color: #34421f;
    font-weight: 500;
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 16rem;
    background-color: rgba (0,0,0,0.1);
}


form label .sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

input[type=radio] {
    margin: 0px 5px 10px 0px;
  }

form input.submitBtn {
    border: none;
    font-family:'Lora', serif;
    background-color: #34421f;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}
 .help {
     color: #c19434;
     font-weight: bolder;
 }


.thanks {
    font-family: 'Lora', serif;
    color: #c19434;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
  
  