@media only screen and (min-width: 60em) {

	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 3rem;
	}

	.motto {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}

	.navigation a {
		font-size: x-large;
	}

	#map {
        width: 80%;
	}
	
	.overlay {
        width: 360px;
        height: 300px;
        background-color: #f1f1ef;
        color: #34421f;
        opacity: 0.80;
        position: absolute;
        top: 500px;
        left: 250px;
        box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.59);
      }

	/*styles for gallery page*/

	.wGallery {
		grid-template-columns: repeat(3, 1fr);
	}

	figure:hover {
		box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.4);
		padding: 0px;
	}

	/*form*/

	form label.sbs {
		padding: .4rem 0;

	}

	/*styles for gallery page*/

	/*styles for home page*/

	.homePage img {
        position: absolute;
        width: 20%;
		margin-top: -40px;
		margin-right: -200px;
    }

	.homePage h1 {
		font-size: 12vw;
		margin-left: 150px;
		
		font-family:'Montserrat', sans-serif; 
      }
      .homePage h2 {
		font-size: 2vw;
		font-family:'Montserrat', sans-serif; 
	  }
	  
	  .visit {
        background-color: white;
        margin: -40px 0px 0px 0px; 
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
		text-align: center;
		padding-top: 110px;
		padding-bottom: 70px;
        color: #34421f;
    }
    .towns {
        display: flex;
        justify-content: space-evenly;
    }
    .towns section img {
        float: none;
    }
    .towns {
        background-color: white;
        justify-content: space-evenly;
        margin-top: -20px;
    }
    .towns section h1 {
        font-family: 'Montserrat', sans-serif;
        color: white;
        margin: -90px 0px 20px 10px;
        font-size: 4vw;
    }
    .towns section h3 {
		font-size: 1.5vw;
		line-height: 1em;
		margin-top: 20px;
    }
    .towns section h4 {
		font-size: 1.5vw;
    }
    .towns section img {
        width: 100%;
    }
    .towns section {
		text-align: left;
        padding-bottom: 20px;
    }
    .towns section:nth-child(2) img {
        float: none;
    }


}