@media only screen and (min-width: 37.5em)
{

.navigation li:first-child {
  display: none;
}
.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}
.navigation li {
  display: block;
  white-space: nowrap;
  margin-top: 15px;
}
#active {
  color: #ffffff;
  background-color: #86c232;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

/*-------------NAV ANIMATION ----------*/
.navigation li:first-child {
  display: none;
}
.navigation li a {
  position: relative;
  color: #474b4f;
  text-decoration: none;
  font-size: 1rem;
}
.navigation li a:hover {
  color: #86c232;
}

  /*------------------Home page---------------*/
.overlay {
  color: #ffffff;
  margin: auto;
  width: 600px;
  height: 500px;
  text-align: center;
}

.overlay h2 {
  font-size: 3em;
  margin: -130px 0px 0px 0px;
}

.overlay h3 {
  margin: 15px 0px 0px 0px;
}

#welcome-image {
  float: left;
  max-width: 70%;
  margin-right: 25px;
  display: block;
  box-shadow: 10px 10px 20px 0 , -10px -10px 20px 0 ;
  border-radius: 50%;
  flex-shrink: 1;
}

section {
  max-width: 600px;
  margin: 0 auto;
}

.parallax-quote, .quote {
  font-size: 2rem;
  
}


.testimonials {
  max-width: 800px;
  display: grid;
  grid-template-areas:
    "div div div";
      grid-gap: 70px 5%;
}

.testimonials-wrap h2 {
 margin-left: 25px;
}

.testimonials img {
  max-width: 150px;
  display: block;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-left: 5px;
}

.third-comment {
  display: block;
}


 /*-------FOOTER----------------*/
 .contact-info {
  width: 95%;
  margin: 20px;
  padding: 10px;
}

.aboutUs{
  font-size: 1.2em;
}

footer h2{
  font-size: 2.2em;
}

footer h4{
  font-size: 1.5em;
}
     
.social img {
  width: 15%;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contactinfo{
  margin-top: -3px;
}

.aboutUs{
  margin-top: -15px;
}

/*-------GUIDES----------------*/


.cards {
  padding: 10px;
}
.cards section {
  margin-bottom: 40px;
  margin-left: 80px;
}

.cards section h2 {
  margin: 10px;
  color: rgb(53, 53, 53);
  font-size: 3vw;
}
.cards section h4, .cards section h4 {
  margin-right: 10px;
  font-size: 1.5vw;
}
.cards section {
  overflow: auto;
  padding: 0px;
}
.cards section:nth-child(2) img {
  float: right;
  padding: 0px;
}
.cards section:nth-child(2) {
  text-align: left;
}

 /*-------CONTACT----------------*/

 .form-control{
  width: 500px;
  font-size: 20px;
}

iframe{
  width: 80%;
}


}