@media only screen and (min-width: 37.5em)
{

.navigation li:first-child {
  display: none;
}
.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}
.navigation li {
  display: block;
  white-space: nowrap;
  margin-top: 15px;
}
#active {
  color: #ffffff;
  background-color: #86c232;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

/*-------------NAV ANIMATION ----------*/
.navigation li:first-child {
  display: none;
}
.navigation li a {
  position: relative;
  color: #474b4f;
  text-decoration: none;
  font-size: 1rem;
}
.navigation li a:hover {
  color: #86c232;
}

  /*------------------Home page LANDING PAGE---------------*/
.overlay {
  color: #ffffff;
  margin: auto;
  width: 600px;
  height: 500px;
  text-align: center;
}

.overlay h2 {
  font-family:'Rock Salt', cursive;
  font-size: 5vw;
  margin: -130px 0px 0px 0px;
}

.overlay h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2vw;
  color: #ffffff;
  font-style: italic;
  margin: 15px 0px 0px 0px;
}

#welcome-image {
  float: left;
  margin-right: 25px;
  display: block;
  box-shadow: 10px 10px 20px 0 , -10px -10px 20px 0 ;
  border-radius: 50%;
  flex-shrink: 1;
}

section {
  max-width: 600px;
  margin: 0 auto;
}

.parallax-quote, .quote {
  font-size: 1rem;
  
}


.testimonials {
  max-width: 800px;
  display: grid;
  grid-template-areas:
    "div div div";
      grid-gap: 70px 5%;
}

.testimonials-wrap h2 {
 margin-left: 25px;
}

.testimonials img {
  max-width: 150px;
  display: block;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-left: 5px;
}

.third-comment {
  display: block;
}


 /*-------FOOTER----------------*/
 div.contact {
  width: 80%;
}

.contact h3 {
  text-align: center;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
}

.contactinfo img {
  width: 20%;
}
.social {
  text-align: center;
  margin: 20px;
}
.social img {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  
}

.contact p {
  color: white;
  text-align: center;
  font-family:  'Noto Sans', sans-serif;
  font-size: .75em;
}
footer {
  background: #474b4f;
  padding-bottom: 20px;
}
footer h2, h4 {
  text-align: center;
  color: white;
  font-family:  'Noto Sans', sans-serif;
  padding: 20px;
}

.aboutUs p{
  text-align: left;
}
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}

/*-------GUIDES----------------*/


picture img{
  max-width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.cards {
  grid-template-columns: 1fr ;
}




}