body {
  background: #ffffff;
  background-image: url('/Salmon\ River/images/resBk.png');
  background-repeat: repeat; 
  font-family: 'Noto Sans', sans-serif;
  color: #222629;
}

header {
  background-image: url("/Salmon\ River/images/heroHome.jpg");
  background-repeat: no-repeat;
}

/*--------------NAVIGATION-------------*/
.navigation {
  list-style: none;
  margin: 0px 0px 0px 20px;
  padding: 0;
  overflow: hidden;
}

.navigation li:first-child {
  padding-top: 0.4rem;
  border: none;
  font-family: 'Noto Sans', sans-serif;
  display: block;
  font-size: 1.5rem;
}

.navigation li {
  display: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5rem;
}

.navigation a {
  text-align: left;
  text-decoration: none;
  color: #222629;
  display: block;
  padding: 0.25rem;
  margin: 10px;
}

.responsive li {
  display: block;
}

.navigation li a:hover {
  color: #86c232;
  transition: 0.4s;
}

/*------------------Home page---------------*/
.overlay {
  color: #ffffff;
  width: 100%;
  height: 200px;
  text-align: center;
}

.overlay h2 {
  font-family: "Rock Salt", "cursive";
  font-size: 1em;
  margin: 25px;
}

.overlay h3 {
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  color:#ffffff;
  font-size: 1em;
  margin: -20px;
}

#homelogo img {
  width: 100%;
  margin: -175px;
  padding: 0px;
}

.welcome-wrap {
  margin-top: 25px;
}

#welcome-image {
  display: none;
}

.text-wrap h2 {
  text-align: center;
}


.hero-image img {
  width: 100%;
  margin: 0 auto;
}

button {
  font-size: 1rem;
  color: #ffffff;
  background-color: #222629;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px;
 margin-top: -300px;
}

button:hover {
  color: #ffffff;
  background-color: #86c232;
  padding: 10px;
  box-shadow: 5px 10px 8px #222629;
}

.parallax button {
  font-size: 1.5rem;
  position: absolute;
  margin: 100px;
}

.parallax-div-wrap {
  max-width: 800px;
  background-color:#222629;
  max-height: 250px;
  padding: 25px;
  border-radius: 50%;
}

p {
  margin: 20px;
  line-height: 2rem;
}

.quote {
  padding: 10px 3rem 5px 3rem;
}

.parallax-quote, .quote {
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  background-color: #222629;
  font-size: .75rem;
  font-style: italic;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-top: 20px;
}


.testimonials img {
  display: none;
}

.testimonials-wrap h2{
  text-align: center;
}

.testimonials p {
  margin: 0px;
  text-align: center;
}

.comment-wrap {
  text-align: right;
}

.third-comment {
  display: none;
}

.name-wrap {
  color: #222629;
  font-size: 0.8em;
}

#summary {
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  list-style: none;
  text-align: left;
  margin: 0px 0px 10px 0px;
}

#summary img{
  width: 50%;
  align-content: center;
  margin-top: -50px;
  margin-bottom: -30px;
}

 h5{
  font-size: 1em;
  text-align: center;
}




/*-----------FOOTER------------*/

footer {
  background: #474b4f;
}

  footer h2{
  padding-top: 1em;
}

.aboutUs {
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  line-height: 2em;
}

footer h2, 
h3,
h4 {
  text-align: center;
  color: #86c232;
  font-family: 'Noto Sans', sans-serif;
  
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.contact-info p {
  text-align: center;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-size: .75em;
  margin: 0px;
}

.contactinfo {
  margin: auto;
}

.contactinfo img {
  width: 15%;
}

.social img {
  width: 15%;
  margin-bottom: 20px;
}

footer p {
  color: white;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.weather h5{
  color: #ffffff;
}

.weather ul li{
  color: #ffffff;
  line-height: 1.5em;
}

.copyright {
  background: #222629;
  padding: 15px;
  height: 80px;
  max-width: 100%;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}


.copyright a {
  color: #61892f;
  transition: opacity .25s ease;
  opacity: 0.7;
}


.copyright a:hover {
  opacity: 0.9;
}



/*-----------Guides------------*/


.cards {
  background-color: #222629;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}
.cards h2 {
  font-family: 'Noto Sans', sans-serif;
  color: #474b4f;
  text-align: center;
  margin: 20px 0px 20px 10px;
  padding: 10px;
  font-size: 1.5rem;
}
.cards section {
  margin: 20px 20px 40px 20px;
  background-color: #ffffff;
  margin: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 7px 4px rgba(0,0,0,0.4);
}
.cards section img{
  display: none;
}
/*.cards section img {
  width: 100%;
  margin: 0px;
}*/
.cards section h4 {
  font-family: 'Noto Sans', sans-serif;
  color: #222629;
  line-height: 1.5em;
  font-size: .75rem;
  text-align: left;
  padding: 10px;
  margin: 0px 0px 10px 20px;
}

/*-----------Tours------------*/

.tours{
  display: block;
  align-content: center;
}

.tours h1{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  padding: 3px;
}

#t1{
  align-content: center;
}

ul li{
  font-family: 'Noto Sans', sans-serif;
  list-style: none;
}

#tourHeading{
margin-top: 50px;
color: #222629;
text-align: center;

}

#ti{
  font-style: italic;
  font-weight: bolder;
  color: #86c232;
  text-align: center;
  
}

figure img{
  max-width: 90%;
  margin-left: 20px;
  box-shadow: 0px 2px 7px 4px rgba(0,0,0,0.4);
}

figcaption {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  padding: 3px;
  font-size: 1rem;
  color: #474b4f;
}

 #t1 ul li{
  text-align: center;
  line-height: 1.5em;
}



/*-----------Contact------------*/


.contact-form{
  margin: 0;
  padding: 0;
  text-align: center;
  background-position: center;
  font-family: 'Noto Sans', sans-serif;
}

.contact-title{
  margin-top: 100px;
  text-align: center;
  color: #474b4f;
  text-transform: uppercase;
}

.contact-title h1{
  font-size: 32px;
  line-height: 10px;
}

.contact-title h2{
  font-size:16px;
}

form{
  margin-top: 20px;
}
.form-control{
  width: 200px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #474b4f;
  color: #222629;
  font-size: 10px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}

form .submit{
  background: #86c232;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  background-color: #61892f;
  cursor: pointer;
}


#map-title h1{
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

iframe{
  box-shadow: 0px 2px 7px 4px rgba(0,0,0,0.4);
  width: 60%;
  align-content: center;
  margin-left: 80px;
}

.contact-main{
  margin: 0;
  padding: 0;
  text-align: center;
  background-position: center;
  font-family: 'Noto Sans', sans-serif;
}

.contact-main h2{
  margin-top: 50px;
}

.contact-main p{
  line-height: 20px;
  margin-bottom: 20px;
}

/*-----------Reservations------------*/

table,
th,
tr,
td,
tfoot {
    text-align: center;
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
    border: .3px solid #222629;
    border-collapse: collapse;

}

table {
    margin: auto;
    box-shadow: 5px 5px 5px 5px #777777;
}


thead {
    color: #474b4f;
    font-family: 'Noto Sans', sans-serif;
    font-size: x-large;
    background-color: #86c232;
    text-align: center;
}

thead tr th {
    background-color: #86c232;
    font-family: 'Noto Sans', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: #474b4f;
    border: .3px solid #777777;
}

th {
    color: white;
    background-color: #474b4f;
    font-size: larger;
    font-weight: bold;
}

tbody tr {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tfoot tr td {
    background-color: #86c232;
    font-size: .70rem;
}

.form-reservation {
  color: #474b4f;
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 25px;
  box-shadow: 0px 2px 7px 4px rgba(0,0,0,0.4);
}

.form-reservation button {
  margin-top: 25px;
}

.form-reservation p, label {
  font-weight: bold;
}

.res-contact label {
  font-weight: normal;
}

.form-reservation li, .form-contact {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
}

.form-reservation > li > label, .form-reservation li p {
 flex: 1 0 120px;
 max-width: 120px;
 margin: 10px;
}

.form-reservation > li > label + *, .form-reservation {
 flex: 1 0 120px;
}

.form-reservation li button {
  margin-left: auto;
  padding: 8px 16px;
}

.form-reservation li {
  margin: 5px;
  flex: 1 100px;
}

.form-reservation {
  justify-content: space-between;
}












 




