/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	/* Horizontal Menu Examples */
	/* Flex *********************/
		nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }
	

/*******************************************************/
	
	nav a {
		font-size: 1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
	section:nth-child(2) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
    }
    
   main, .type {
        grid-template-columns: 1fr;
    }
}